<section class="container" style="margin-top: 2%;" id="privacy">
	<div style="text-align: center">
		<a href="/" id="terms-page-back-btn">
			<img src="pics/rr-circle-logo.png" style="width: 50px;vertical-align: middle">
			<h3 class="text-muted" style="display: inline-block; vertical-align: middle;margin: 0px;padding:0px;">Rainbow Agenda</h3>
		</a>
	</div>
	<div>
		<h3 style="margin-bottom: 50px;">Privacy</h3>
	</div>
	<div>
		<h4>Registered Users</h4>
		<p class="text-muted">In order to register and be able to use Rainbow Agenda, an unregistered user is asked to provide email and password. The e-mails are used by Rainbow Agenda only for the purpose of having authorized accounts and emails for sharing the meeting notes. We encrypt that passwords and if a registered user forgets his password, the only way to gain back access is to use the Forget password option.</p>
	</div>
	<div>
		<h4>Google Analytics</h4>
		<p class="text-muted">Rainbow Agenda uses Google Analytics, which is a Google tool for web analytics, to collect and analyze the user behaviour in order to optimize the services provided to the registered users.</p>
	</div>
	<div>
		<h4>Local Storage</h4>
		<p class="text-muted">Rainbow Agenda uses the local storage of a browser to collect information locally which is used to speed up the website time load. Each user may use the “Remember me” option and he will be able to access the website without the need to register. We advise the users to use this option only on their personal computers. If the website is accessed via a public computer, we advise the users to log out after they stop using the website so that other users of that public computer will not gain access to unauthorized private data.</p>
	</div>
	<div>
		<h4>Authorisation</h4>
		<p class="text-muted">Rainbow Agenda uses security techniques to prevent unauthorized access to your account or meeting. Each user has to authorize himself with email and password in order to get logged in.</p>
	</div>
</section>