#meeting-footer-container {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 50px;
}
#meeting-footer-container div button {
	padding: 15px 30px;
	min-width: 170px;
	font-size: 16px;
	background: none;
	border: rgb(215, 217, 218) 1px solid;
	border-radius: 2px;
	margin: 0 15px;
}
#meeting-footer-container div button:first-child {
	background-color: rgb(26, 182, 103);
	color: white;
	border: rgb(26, 182, 103) 1px solid;
}

@media screen and (max-width: 980px){
	#meeting-footer-container div button {
		margin-bottom: 10px;
	}
}
@media screen and (max-width: 720px){
	#meeting-footer-container div button {
		display: block;
		margin: 5px auto;
	}
	#meeting-footer-container div {
		text-align: center;
	}
}