<div class="forms-image-background" ng-controller="ResetPasswordController">
	<div class="forms-shadowed-background">
		<div class="container container-with-padding">
			<div class="row">
				<div class="redirect-to-register-msg">
					<h3><a href="/login" class="new-text"><span class="sign-up-text">Back</span></a></h3>
				</div>
			</div>
			<div class="row">
				<form ng-submit="resetPassword()">
					<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 form-container animated fadeInDown">
						<div class="row">
							<h3 class="col-md-12 col-lg-12 col-sm-12 col-xs-12 text-center">Change password</h3>
						</div>
						<div class="row">
							<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 inputs-container">
								<input type="password" name="password" id="password" class="{{errors.password == true ? 'input-with-errors': ''}}"
									   ng-click="animateInputs('passwordLabel', 'password')"
									   ng-blur="resetInputs('passwordLabel', 'password')"
									   ng-focus="animateInputs('passwordLabel', 'password')"
									   ng-model="password"
									   ng-change="errors.password = false" focus="true">
								<label for="password" id="passwordLabel">Password</label>
								<span class="input-error-message" ng-if="errors.password == true">{{errorsText.password}}</span>
							</div>
							<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 inputs-container">
								<input type="password" name="confirmPassword" id="confirmPassword" class="{{errors.confirmPassword == true ? 'input-with-errors': ''}}"
									   ng-click="animateInputs('confirmPasswordLabel', 'confirmPassword')"
									   ng-blur="resetInputs('confirmPasswordLabel', 'confirmPassword')"
									   ng-focus="animateInputs('confirmPasswordLabel', 'confirmPassword')"
									   ng-model="confirmPassword"
									   ng-change="errors.confirmPassword = false">
								<label for="confirmPassword" id="confirmPasswordLabel">Confirm password</label>
								<span class="input-error-message" ng-if="errors.confirmPassword == true">{{errorsText.confirmPassword}}</span>
							</div>
							<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 inputs-container">
								<button class="btn" type="submit">Set new password</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>