<div class="forms-image-background" ng-controller="SendResetPasswordLinkController">
	<div class="forms-shadowed-background">
		<div class="container container-with-padding">
			<div class="row">
				<div class="redirect-to-register-msg">
					<h3><a href="/login" class="new-text"><span class="sign-up-text">Back</span></a></h3>
				</div>
			</div>
			<div class="row">
				<form ng-submit="sendResetPasswordLink()">
					<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 form-container animated fadeInDown">
						<div class="row">
							<h3 class="col-md-12 col-lg-12 col-sm-12 col-xs-12 text-center">Enter your email address</h3>
						</div>
						<div class="row">
							<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 inputs-container">
								<input type="text" name="resetPasswordEmail" id="sendNewPasswordEmail" class="{{errors.email == true ? 'input-with-errors': ''}}"
									   ng-click="animateInputs('sendNewPasswordEmailLabel', 'sendNewPasswordEmail')"
									   ng-blur="resetInputs('sendNewPasswordEmailLabel', 'sendNewPasswordEmail')"
									   ng-focus="animateInputs('sendNewPasswordEmailLabel', 'sendNewPasswordEmail')"
									   ng-model="email"
									   ng-change="errors.email = false" focus="true">
								<label for="sendNewPasswordEmail" id="sendNewPasswordEmailLabel">E-mail</label>
								<span class="input-error-message" ng-if="errors.email == true">{{errorsText.email}}</span>
							</div>
							<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 inputs-container">
								<button class="btn" type="submit">Request new password</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>